<div class="d-flex flex-wrap">
    <div class="col-6 col-md-6 px-3">
        {{ form_row(form.name) }}

    </div>
    <div class="col-6 col-md-6 px-3">
        {{ form_row(form.tag) }}

    </div>
    <div class="col-6 col-md-6 px-3">
        
            {{ form_row(form.adres) }}
        </div>
            <div class="col-12 col-md-6  px-3">
                {{ form_row(form.email) }}


        </div>
        <div class="col-6 col-md-6 px-3">
            {{ form_row(form.phone) }}
        </div>
        <div class="col-6 col-md-6 px-3">
            {{ form_row(form.imageFile) }}
        </div>
        
    


</div>
{% include 'admin_common/_required-fields.html.twig' %}
<button class="btn btn-success btn-sm mt-3">
    {{ button_label|default('Sauvegarder') }}
</button>
{{ form_end(form) }}
