{% extends 'base-backend.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
<a href="{{ path('app_admin_compagny_index') }}" class="btn btn-primary btn-sm mt-3">
Retour a la Liste
    
</a>
<h1>Entreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compagny.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ compagny.name }}</td>
            </tr>
            <tr>
                <th>Adres</th>
                <td>{{ compagny.adres }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ compagny.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ compagny.phone }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ compagny.imageName }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ compagny.updatedAt ? compagny.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ compagny.category }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ compagny.slug }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between align-center">
    <a href="{{ path('app_admin_compagny_edit', {'id': compagny.id}) }}" class="btn btn-success">
        <i class="align-middle" data-feather="edit-2"></i>
    </a>
    
    {{ include('admin_compagny/_delete_form.html.twig') }}
    </div>
{% endblock %}
