{{ form_start(form) }}
{{ form_widget(form) }}
{# <div class="d-flex flex-wrap">
    <div class="col-6 col-md-6 px-3">
        {{ form_row(form.name) }}
    </div>
    <div class="col-6 col-md-6 px-3">
        {{ form_row(form.imageFile) }}

    </div>
    <div class="col-6 col-md-6 px-3">
        {{ form_row(form.title) }}
    </div>
    <div class="col-6 col-md-6 px-3">
        {{ form_row(form.tag) }}
    </div>
</div>
<div class="col-12 col-md-12 px-3">
    {{ form_row(form.text) }}
</div> #}

{% include 'admin_common/_required-fields.html.twig' %}
<button class="btn btn-success btn-sm mt-3">
    {{ button_label|default('Sauvegarder') }}
</button>
{{ form_end(form) }}
