{% extends 'base-backend.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-center">
<h1>Formation</h1>
    <div class="d-flex">
    <form method="post" class="d-flex">
        <input type="text" name="search" class="form-control" placeholder="Rechercher">
            <button type="submit" class="btn btn-dark ">
                <i data-feather="search"></i>
            </button>
        </form>
        <a href="{{ path('app_admin_formation_new') }}" class="btn btn-success ms-3">
            Nouveau
                
        </a>
    </div>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Annonce</th>
                <th>Nom</th>
                <th>Adres</th>
                <th>Logo entreprise</th>
                {# <th>UpdatedAt</th> #}
                <th>Email</th>
                <th>Telephone</th>
                <th>Titre</th>
                <th clas="text-end">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.text |u.truncate(300) |raw}}</td>
                <td>{{ formation.name }}</td>
                <td>{{ formation.adres }}</td>
                    <td>
                        <a href="{{ asset('images/formations/' ~ formation.imageName) }}" data-lightbox="{{ formation.imageName }}">
                            <img src="{{ asset('images/formations/' ~ formation.imageName) }}" class="img-list" alt="{{ formation.imageName }}"></a>
                        </td>
                {# <td>{{ formation.updatedAt ? formation.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>{{ formation.email }}</td>
                <td>{{ formation.phone }}</td>
                <td>{{ formation.title }}</td>
                <td class= "text-end">
                    <div class="d-flex">
                    <a href="{{ path('app_admin_formation_show', {'id': formation.id}) }}" class="btn btn-dark btn-sm"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_formation_edit', {'id': formation.id}) }}" class="btn btn-success btn-sm"><i class="align-middle" data-feather="edit-3"></i></a>
                    {{ include('admin_formation/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
                {{ knp_pagination_render(formations) }}
            </div>

{% endblock %}
